.btn {
  transition: all .2s ease-in;

  @include attention {
    background-color: shade( $inuit-btn-background, 20% );
    outline: none;
  }
}

.btn--positive {
  border-color: shade( $green, 20% );
  background-color: shade( $green, 10% );
  color: $white;

  @include attention {
    background-color: shade( $green, 20% );
  }
}

.btn--negative {
  border-color: shade( $red, 20% );
  background-color: shade( $red, 10% );
  color: $white;

  @include attention {
    background-color: shade( $red, 20% );
  }
}

.btn--combo {
  > * {
    display: inline-block;

    &:first-of-type {
      width: 24px;
      border-right: 1px solid $white;
      padding-right: 6px;
    }
  }
}
