<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="conwaysGameOfLifeApp" ng-controller="AppController as app" ng-strict-di="true">
<head>
  <title>@@NAME</title>

  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="@@DESCRIPTION" />
  <meta name="keywords" content="@@KEYWORDS" />

  <!-- build:css({app,.tmp}) styles/screen.css -->

  <link rel="stylesheet" href="styles/screen.css" />
  <!-- endbuild -->
</head>

<body class="page">
  <h1>@@NAME</h1>

  Height: <input type="text" ng-model="app.height" />
  Width: <input type="text" ng-model="app.width" />
  Interval: <input type="text" ng-model="app.interval" />

  <div class="btn btn--small btn--combo">
    <span ng-click="app.random = !app.random"><i class="fa" ng-class="app.random ? 'fa-check-square-o' : 'fa-square-o'"></i></span>
    <span ng-click="app.newGame()">New Game</span>
  </div>

  <div class="btn btn--small btn--combo btn--positive" ng-if="!app.auto">
    <span ng-click="app.auto = !app.auto; app.nextGeneration();" title="Toggle Autorun"><i class="fa" ng-class="app.auto ? 'fa-check-square-o' : 'fa-square-o'"></i></span>
    <span ng-click="app.nextGeneration()">Next Generation</span>
  </div>

  <div class="btn btn--small btn--combo btn--negative" ng-if="app.auto" ng-click="app.stopAutoRun()">
    Stop AutoRun
  </div>

  <table class="the-board">
    <tr ng-repeat="row in app.board track by $index">
      <td ng-repeat="cell in row track by $index"
        ng-click="app.toggleCell( $parent.$index, $index )"
        class="{{ app.cellClass( $parent.$index, $index ) }}">

        <span ng-show="cell"><i class="fa fa-circle-o"></i></span>
      </td>
    </tr>
  </table>

  <p ng-show="app.history.length > 0">Rewind History!</p>

  <table class="board-history">
    <tr>
      <td ng-repeat="point in app.history track by $index"
        ng-click="app.previousGeneration( $index )">{{ $index }}</td>
    </tr>
  </table>

  <!-- build:js({app,.tmp}) scripts/app.js -->
  <script src="bower_components/angular/angular.js" type="text/javascript"></script>
  <script src="scripts/@@NAME.js" type="text/javascript"></script>
  <!-- endbuild -->
</body>
</html>
